/* Aqua rgba(198,228,230,255) */
/* Text rgba(242,242,247,255) */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* border: solid white 1px; */
  color: rgba(242, 242, 247, 255);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgba(30, 31, 36, 255);
}

.header {
  /* color: white; */
  display: flex;
  justify-content: space-between;
  /* margin-left: 12px;
  margin-right: 12px; */
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 12px;
  padding-bottom: 12px;
  align-items: center;
}

.left-header {
  display: flex;
  gap: 24px;
  align-items: center;
}

.right-header {
  display: flex;
  gap: 24px;
}

.profile-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.search-bar {
  display: flex;
  align-items: center;
  border: solid rgba(46, 46, 56, 255) 1px;
  height: fit-content;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 24px;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: center;
  background-color: rgba(46, 46, 56, 255);
}

input {
  border: 0px;
  padding: 4px;
  background-color: rgba(46, 46, 56, 255);
}

textarea:focus,
input:focus {
  outline: none;
}

.mag-icon {
  width: 8px;
  height: 8px;
}

.search-bar-icon {
  height: 24px;
  width: 24px;
  /* color: black; */
}

.grid-container {
  display: grid;
  grid-template-columns: 1.5fr 0.8fr;
  grid-template-rows: 300px 400px 180px;
  height: fit-content;
  gap: 12px;
  padding: 24px;
  margin-left: 10%;
  margin-right: 10%;
}

.main-weather {
  background-color: rgba(46, 46, 56, 255);
  grid-row: 1/2;
  grid-column: 1/1;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map-location {
  background-color: rgba(46, 46, 56, 255);
  grid-row: 1;
  grid-column: 2/2;
  border-radius: 12px;
}

.visualization {
  background-color: rgba(46, 46, 56, 255);
  grid-row: 2;
  grid-column: 1;
  border-radius: 12px;
  /* background-color: transparent; */
}

.forecast {
  background-color: rgba(46, 46, 56, 255);
  grid-row: 2;
  grid-column: 2;
  border-radius: 12px;
}

.world-forecast {
  /* background-color: rgba(46, 46, 56, 255); */
  background-color: rgba(30, 31, 36, 255);
  grid-row: 3;
  grid-column: 1/3;
  border-radius: 12px;
}

/* Current weather */
.current-weather {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 12px;
  padding-top: 24px;
  align-items: center;
  /* padding-left: 24px; */
  /* padding-right: 24px; */
}

.curr-weather-icon {
  height: 5rem;
  width: 5rem;
  padding: 0px;
}

.medium {
  font-size: 1.4rem;
}

.large {
  font-size: 2.3rem;
  padding-bottom: 8px;
}
sup.small {
  font-size: 1rem;
  opacity: 100%;
}
sub.small {
  font-size: 0.8rem;
  opacity: 100%;
}

.small {
  font-size: 0.8rem;
  opacity: 90%;
}

.today-sticky-container {
  position: static;
  width: 700px;
  height: fit-content;
  /* padding: 24px; */
  height: fit-content;
  border-radius: 12px;
}

.today-forecast {
  position: sticky;
  display: flex;
  height: fit-content;
  overflow-x: auto;
  width: 100%;
  /* justify-content: space-around; */
  gap: 7px;
  align-items: center;
  padding: 0px 10px;
  cursor: pointer;

  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.today-forecast::-webkit-scrollbar {
  display: none;
}

.hourly-cast {
  display: flex;
  color: black;
  flex-direction: column;
  background-color: rgba(203, 230, 233, 255);
  margin: 24px 12px 24px;
  padding: 12px;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  border-radius: 24px;
  height: fit-content;
}

.hourly-cast > p {
  color: black;
  font-weight: 500;
  font-size: 1.2rem;
}

.hourly-cast > p > sup {
  color: black;
}

.today-icon {
  height: 42px;
  width: 42px;
}

.hourly-cast {
  background-size: cover;
  background-position: center;
  /* opacity: 0.1; */
}

/* Temperature Unit Toggle */
.temp-converter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  background-color: rgba(46, 46, 56, 255);
  width: 60px;
  height: 32px;
  border-radius: 200px;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
  display: flex;
  align-items: center;
}

.button::before {
  position: absolute;
  content: "";
  background-color: rgba(198, 228, 230, 255);
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin-left: 5px;
  margin-right: 5px;
  transition: 0.2s;
}

#check {
  display: none;
}

#check:checked + .button {
  background-color: rgba(46, 46, 56, 255);
}

#check:checked + .button::before {
  transform: translateX(26px);
}

.unit-label {
  font-size: 20px;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
  width: 24px;
}

/* Visualization */
#chart-container {
  height: 100%;
  /* z-index: 10; */
  /* width: 100vw; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.chart-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 24px;
  /* padding-top: 6px; */
}

.chart-selector {
  display: flex;
  align-items: center;
  background-color: rgba(30, 31, 36, 255);
  height: fit-content;
  padding: 2px;
  gap: 6px;
  border-radius: 12px;
}

.svg-chart {
  /* padding: 0px 12px; */
  padding-left: 12px;
  padding-right: 12px;
}

.viz-btn {
  width: 70px;
  color: white;
  padding: 4px;
  border-radius: 12px;
  border: 0px;
  background-color: rgba(30, 31, 36, 255);
  cursor: pointer;
}

.viz-btn.active {
  background-color: rgba(198, 228, 230, 255);
  color: black;
}

.viz-btn.unactive {
  background-color: rgba(30, 31, 36, 255);
  color: white;
}

.viz-btn.unactive:hover {
  background-color: rgba(46, 46, 56, 255);
  color: white;
}

.small-text {
  font-size: 0.8rem !important;
  opacity: 90% !important;
}

/* MAP */
.map-container {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
}

/* Forecast */
.forecast-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.forecast-btn {
  width: 70px;
  color: white;
  padding: 4px;
  border-radius: 12px;
  border: 0px;
  background-color: rgba(30, 31, 36, 255);
  cursor: pointer;
}

.forecast-selector {
  display: flex;
  align-items: center;
  background-color: rgba(30, 31, 36, 255);
  height: fit-content;
  padding: 2px;
  gap: 6px;
  border-radius: 12px;
}

.forecast-btn.active {
  background-color: rgba(198, 228, 230, 255);
  color: black;
}

.forecast-btn.unactive {
  background-color: rgba(30, 31, 36, 255);
  color: white;
}

.forecast-btn.unactive:hover {
  background-color: rgba(46, 46, 56, 255);
  color: white;
}

.show-forecast {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 24px;
  margin-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
  height: 320px;
  border-radius: 18px;
}

.forecast-overflow {
  overflow-y: auto;
}

.forecast-overflow-hidden {
  overflow-y: hidden;
}

.show-forecast::-webkit-scrollbar {
  display: none;
}
.fore-data {
  background-color: rgba(30, 31, 36, 255);
  padding: 16px;
  /* padding-top: 24px;
  padding-bottom: 24px; */
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-fore {
  display: flex;
  align-items: center;
  gap: 8px;
}

.forecast-icon {
  height: 3cap;
  width: 3cap;
}

.right-fore,
.fore-condition {
  font-size: 0.8rem !important;
  opacity: 100% !important;
}

.fore-day,
.fore-temp {
  font-size: 1.2rem;
}

.right-fore {
  display: flex;
  /* gap: 2px; */
  align-items: center;
  justify-content: space-between;
  width: 80px;
}

/* Word Forecast */
.world-forecast {
  display: flex;
  width: 100%;
  align-items: center;
  /* margin-top: 64px; */
  justify-content: center;
  gap: 12px;
}

.left-wf {
  height: 130px;
  width: 130px;
  border: dashed gray 3px;
  margin: 12px;
  border-radius: 12px;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  /* padding-top: 6px; */
}

.add-world {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: translateY(-50%);
  border: 0px;
  background-color: rgba(198, 228, 230, 255);
  font-size: 30px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.wf-input-title {
  font-size: large;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
  transform: translateY(-10px);
}

.wf-input-subtitle {
  transform: translateY(-5px);
  text-align: center;
  padding-top: 12px;
  font-size: x-small;
  padding-left: 12px;
  padding-right: 12px;
  opacity: 100%;
}

.wf-container-overflow {
  display: flex;
  width: 1000px;
  height: 170px;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  /* background-color: white; */
  border-radius: 12px;
  margin-right: 12px;
  /* background-color: wheat; */
}

.wf-container-overflow::-webkit-scrollbar {
  display: none;
}

.wf-overflow {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  gap: 11px;
}

.right-wf {
  height: 130px;
  width: 130px;
  border: dashed gray 3px;
  margin: 12px;
  border-radius: 12px;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}

.formDialog {
  height: 100px;
  width: 100px;
}
